header {
    width: 100%;
    height:500px;
    background: url(img/24810246_l.jpg);
    background-size: cover;
    background-position: center;

}

.head-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

h1{
    font-size:18px;
}

header ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header h2{
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    font-size:30px;
}

nav ul{
    list-style-type:none;
    text-align: center;
}

nav li{
    display: inline-block;
    width:150px;
    text-align: center;
    border-left: 1px dotted black;

}
.last-child{
    border-right: 1px dotted black;
}
.container{
    width:1200px;
    margin:0px auto;
    display:flex;
}

.item01{
    width: 70%;
}

.item01 h2{
    text-align: center;
    border-bottom: 1px solid navy;
}

.item01 img{
    width:99%;
}

.item02{
    width: 22%;
}

.item02 h2{
    font-size:17px;
    text-align: center;
    padding-left:0%;
}

.item02 ul{
    list-style-type: none;
    padding-left: 0%;
}

.item02 li{
    border-bottom: 1px dotted black;
}

.article-container{
    display: flex;
}

.article-item{
    width: 47%;
}

.article-item img{
    width: 99%;
}

.article-item p{
    text-align: center;
}

footer{
    width:100%;
    background-color:	#E0FFFF ;
    margin: 0px;
}

footer h2{
    text-align: center;
    padding: 30px 0px;
    font-size: 16px;
}

.contact-form {
    padding-top: 100px;

}

input,textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: #dee7ec;
  color: #889eab;
}
