header ul li{
    display: inline-block;
}

header h2{
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
    font-size:30px;
}
header h3{
    font-size: 15px;
    text-align: center;
    padding-left: 250px;

}

nav ul{
    list-style-type:none;
    text-align: center;
}

nav li{
    display: inline-block;
    width:150px;
    text-align: center;
    border-left: 1px dotted black;

}
.last-child{
    border-right: 1px dotted black;
}
